In [95]:
import requests
import pandas as pd
import numpy as np

from tqdm import tqdm

In [96]:
df = pd.read_csv("url_dataset.csv")

In [97]:
df

,brand,model,price,gender,url
0,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
1,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
2,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
3,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
4,C2H4,Black Boson Boots,820,men,https://res.cloudinary.com/ssenseweb/image/upl...
...,...,...,...,...,...
42235,Lauren Manoogian,Brown Welt Mules,655,women,https://res.cloudinary.com/ssenseweb/image/upl...
42236,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
42237,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
42238,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
42239,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...

In [98]:
URLS = df.url.values

In [99]:
df['image_position'] = df.url.str[-5:-4]

In [100]:
df = df[df['image_position'] == '1']

In [101]:
df

,brand,model,price,gender,url,image_position
0,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...,1
4,C2H4,Black Boson Boots,820,men,https://res.cloudinary.com/ssenseweb/image/upl...,1
8,Burberry,Black & Purple Check Pillow Boots,1140,men,https://res.cloudinary.com/ssenseweb/image/upl...,1
12,On,Black & Beige Cloudvista Sneakers,235,men,https://res.cloudinary.com/ssenseweb/image/upl...,1
16,Salomon,White ACS Pro Sneakers,360,men,https://res.cloudinary.com/ssenseweb/image/upl...,1
...,...,...,...,...,...,...
42220,MarsÃ¨ll,Black Spanciata Sandals,820,women,https://res.cloudinary.com/ssenseweb/image/upl...,1
42224,MarsÃ¨ll,Brown Spanciata Sandals,800,women,https://res.cloudinary.com/ssenseweb/image/upl...,1
42228,MarsÃ¨ll,Black Tillo Heels,845,women,https://res.cloudinary.com/ssenseweb/image/upl...,1
42232,Lauren Manoogian,Brown Welt Mules,655,women,https://res.cloudinary.com/ssenseweb/image/upl...,1
42236,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...,1

In [102]:
df.brand = df.brand.str.lower()
df.model = df.model.str.lower()

/var/folders/rn/n96315xj07s91rcy_t4k4h2r0000gn/T/ipykernel_83214/1371083900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.brand = df.brand.str.lower()
/var/folders/rn/n96315xj07s91rcy_t4k4h2r0000gn/T/ipykernel_83214/1371083900.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.model = df.model.str.lower()

In [103]:
from pandas.util import hash_pandas_object

In [106]:
df['image_id'] = hash_pandas_object(df['brand'] + df['model'] + df['gender'] + df['price'].astype(str))

/var/folders/rn/n96315xj07s91rcy_t4k4h2r0000gn/T/ipykernel_83214/2659325542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['image_id'] = hash_pandas_object(df['brand'] + df['model'] + df['gender'] + df['price'].astype(str))

In [107]:
len(np.unique(df['image_id']))

10560

In [108]:
df = df.drop_duplicates(subset=['image_id'], keep='first')

In [109]:
df

,brand,model,price,gender,url,image_position,image_id
0,gmbh,black adem boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...,1,10190355733807254877
4,c2h4,black boson boots,820,men,https://res.cloudinary.com/ssenseweb/image/upl...,1,17136764886245495713
8,burberry,black & purple check pillow boots,1140,men,https://res.cloudinary.com/ssenseweb/image/upl...,1,14896042988606270054
12,on,black & beige cloudvista sneakers,235,men,https://res.cloudinary.com/ssenseweb/image/upl...,1,9093049312616985085
16,salomon,white acs pro sneakers,360,men,https://res.cloudinary.com/ssenseweb/image/upl...,1,4021592074324545023
...,...,...,...,...,...,...,...
42220,marsÃ¨ll,black spanciata sandals,820,women,https://res.cloudinary.com/ssenseweb/image/upl...,1,5640411205116376484
42224,marsÃ¨ll,brown spanciata sandals,800,women,https://res.cloudinary.com/ssenseweb/image/upl...,1,10411130418477679638
42228,marsÃ¨ll,black tillo heels,845,women,https://res.cloudinary.com/ssenseweb/image/upl...,1,16726967725239308213
42232,lauren manoogian,brown welt mules,655,women,https://res.cloudinary.com/ssenseweb/image/upl...,1,10583823007434153829
42236,paris texas,silver lidia 70 mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...,1,6116548553118087077

In [112]:
df['price'].agg(['mean', 'median'])

mean      779.495739
median    685.000000
Name: price, dtype: float64

In [114]:
np.quantile(df['price'], [0.25, 0.5, 0.75, 0.9])

array([ 360.  ,  685.  , 1071.25, 1435.  ])

In [121]:
def generate_prompt(brand: str, model: str, gender: str, price: int):
    """_summary_

    Args:
        brand (str): brand
        model (str): model
        gender (str): gender
        price (int): price
    """
    return f"""
    These are shoes for {gender} from brand {brand} model {model}. Item price is {price} dollars.
    """.strip()

In [122]:
generate_prompt('a', 'b', 'men', 150)

'These are shoes for men from brand a model b. Item price is 150 dollars.'

In [124]:
df['prompt'] = df.apply(lambda x: generate_prompt(x['brand'], x['model'], x['gender'], x['price']), axis=1)

In [168]:
df.to_csv('url_dataset_extended.csv', index=None)

In [130]:
df['prompt'].sample(1).values[0]

'These are shoes for women from brand bottega veneta model beige cha-cha mules. Item price is 1455 dollars.'

In [134]:
df['url'].sample(1).values[0]

'https://res.cloudinary.com/ssenseweb/image/upload/b_white,c_lpad,g_center,h_1412,w_940/c_scale,h_960/f_auto,dpr_2.0/231003F128002_1.jpg'

In [ ]:
from io import StringIO, BytesIO
from PIL import Image

In [ ]:
for url in tqdm(URLS):
    requests.get(url=url)

In [144]:
from os import listdir

In [167]:
len(listdir('images/'))

10560