In [1]:
import pandas as pd 
import numpy as np 
import json
import time
import tqdm

import requests
import cloudscraper

from curl_params import HEADERS, COOKIES, get_params

SLEEP_TIME = 20

/var/folders/rn/n96315xj07s91rcy_t4k4h2r0000gn/T/ipykernel_78032/3220299706.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Parse men shoes

In [17]:
cloudscraper = cloudscraper.create_scraper()

with open('raw_data_urls.json', "r") as file:
    data = json.load(file)

page_list = [str(page_number) for page_number in range(1, 42)]
page_list = list(set(page_list) - set(list(data['men']['pages'].keys())))

for page_number in tqdm.tqdm(page_list):
    response = cloudscraper.get('https://www.ssense.com/en-id/men/shoes.json',
                         params=get_params(page_number=int(page_number)),
                         cookies=COOKIES,
                         headers=HEADERS)
    if response.status_code == 200:
        with open('raw_data_urls.json', "r") as file:
            data = json.load(file)
            if page_number not in data['men']['pages'].keys():
                data['men']['pages'][page_number] = response.json()['products']
                with open('raw_data_urls.json', "w") as file:
                    json.dump(data, file)
    else:
        print(f"response failed with status code {response.status_code}, page_number {page_number}")
    time.sleep(SLEEP_TIME)

0it [00:00, ?it/s]

# Parse women shoes

In [18]:
cloudscraper = cloudscraper.create_scraper()

with open('raw_data_urls.json', "r") as file:
    data = json.load(file)

page_list = [str(page_number) for page_number in range(1, 48)]
page_list = list(set(page_list) - set(list(data['women']['pages'].keys())))

for page_number in tqdm.tqdm(page_list):
    response = cloudscraper.get('https://www.ssense.com/en-id/women/shoes.json',
                         params=get_params(page_number=int(page_number)),
                         cookies=COOKIES,
                         headers=HEADERS)
    if response.status_code == 200:
        with open('raw_data_urls.json', "r") as file:
            data = json.load(file)
            if page_number not in data['women']['pages'].keys():
                data['women']['pages'][page_number] = response.json()['products']
                with open('raw_data_urls.json', "w") as file:
                    json.dump(data, file)
    else:
        print(f"response failed with status code {response.status_code}, page_number {page_number}")
    time.sleep(SLEEP_TIME)

100%|██████████| 47/47 [18:18<00:00, 23.38s/it]

In [43]:
def extract_brand(product: dict) -> str: 
    """extract brand from json

    Args:
        product (dict): 

    Returns:
        str: 
    """
    return product['brand']['name']['en']
    

def extract_model(product: dict) -> str: 
    """extract brand from json

    Args:
        product (dict): 

    Returns:
        str: 
    """
    return product['name']['en']

def extract_price(product: dict) -> str: 
    """extract brand from json

    Args:
        product (dict): 

    Returns:
        str: 
    """
    return product['priceByCountry'][0]['regular']

def extract_gender(product: dict) -> str: 
    """extract brand from json

    Args:
        product (dict): 

    Returns:
        str: 
    """
    return product['gender']
    

def extract_photos(product: dict) -> str: 
    """extract photos from json

    Args:
        product (dict): 

    Returns:
        str: 
    """
    IMAGE_PARAMS = "b_white,c_lpad,g_center,h_1412,w_940/c_scale,h_960/f_auto,dpr_2.0"
    ID = product['image'][0]
    ID = ID[67:-6]
    return [f"https://res.cloudinary.com/ssenseweb/image/upload/{IMAGE_PARAMS}/{ID}_{x}.jpg"
            for x in range(1, 5)]

# Dataset from raw data

In [45]:
with open('raw_data_urls.json', "r") as file:
    data = json.load(file)

In [46]:
df = pd.DataFrame()

for gender in data.keys():
    for page_number in tqdm.tqdm(data[gender]['pages'].keys()):
        for product in data[gender]['pages'][page_number]:
            brand = extract_brand(product=product)
            model = extract_model(product=product)
            photos = extract_photos(product=product)
            gender = extract_gender(product=product)
            price = extract_price(product=product)
            tmp_df = pd.DataFrame({"brand": [brand]*4,
                                   "model": [model]*4,
                                   "price": [price]*4,
                                   "gender": [gender]*4,
                                   "url": photos})
            df = pd.concat([df, tmp_df])

  0%|          | 0/41 [00:00<?, ?it/s]

100%|██████████| 41/41 [00:05<00:00,  6.99it/s]
100%|██████████| 47/47 [00:14<00:00,  3.32it/s]

In [47]:
df

,brand,model,price,gender,url
0,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
1,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
2,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
3,GmbH,Black Adem Boots,630,men,https://res.cloudinary.com/ssenseweb/image/upl...
0,C2H4,Black Boson Boots,820,men,https://res.cloudinary.com/ssenseweb/image/upl...
...,...,...,...,...,...
3,Lauren Manoogian,Brown Welt Mules,655,women,https://res.cloudinary.com/ssenseweb/image/upl...
0,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
1,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
2,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...
3,Paris Texas,Silver Lidia 70 Mules,715,women,https://res.cloudinary.com/ssenseweb/image/upl...

In [50]:
len(np.unique(df['brand'] + df['model'] + df['gender'] + df['price'].astype(str)))

10253

In [51]:
df.to_csv('url_dataset.csv', index=None)

In [59]:
df.iloc[0].url

'https://res.cloudinary.com/ssenseweb/image/upload/b_white,c_lpad,g_center,h_1412,w_940/c_scale,h_960/f_auto,dpr_2.0/241979M228011_1.jpg'